*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    font-weight: 2000;
    line-height: 7rem;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    margin-top: 20px;
    height: 150px;
    width: 150px;
    display: flex;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    gap: 5rem;
}
#user-score,
#comp-score{
   font-size: 4rem;
}
#msg{
    margin-top: 7rem;
    background-color: #081b31;
    font-size: 2rem;
    color: #fff;
    display: inline;
    padding: 5px;
    border-radius: 1rem;
}